

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Using variable in CSS -----*/
/*Defining */
:root{
--primary-color:rgb(203, 190, 98);
--dark-grey:#0eda8f ;
--off-white:#F3F4F6;
}
/*Using the Var
color:var(--primary-color);
}
*/


body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(233, 226, 140)
   ;
   background-image:url("https://w0.peakpx.com/wallpaper/108/669/HD-wallpaper-minions-anime-cartoon-samsung.jpg") ;
   margin: auto;
   max-width: 90%;
}

/*Container ----------------*/
.container{
    
    padding: 0rem 0.5rem;
}
.container-center{
    max-width:80%;
    margin: auto;
    border: 2px #6B7280 ;
}



/*Header--------------*/
.hero{
    padding: 2rem;
}
.hero .hero-img{
    max-width: 600px;
    display: block;
    /*align-items: center;*/
    margin: auto;
}
.hero .hero-heading{
    
    font-size:x-large;
    text-align: center;
    color: var(--dark-grey);
    padding: 2rem;
}
.hero .heading-inverted{
 font-size: xx-large;
    color:yellow;
}

/*Sections---------  */
.section{
    max-width: 80%;
    padding: 2rem;
    margin: auto;
    margin-bottom: 1rem;
    background-color: var(--primary-color);

}
.section h1{
    text-align: center;
   
}
.ow{
    background-color: var(--off-white);
    max-width: 60%;
    margin: auto;
}
/*Footer---------------*/
.footer{
    max-width: 80%;
    height: 15vh;
    background-color: var(--primary-color);
    padding: 2rem 1rem;
  
    text-align: center;
    color: white;
    margin: auto;
}
.footer .link{
    color: white;

}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
   
}
.footer ul{
    /*Over writing some browser style*/
    padding-inline-start: 0px;
}
textarea{
    text-align: center;
    width: 80%;
    color: var(--dark-grey);
 
    height: 10vh;
    display: block;
    margin: 3rem;
    padding: 2rem;
}
#output{
    width: 70%;
    text-align: center;
    background-color:white ;
            height: 10vh;
      
            margin: auto;
            padding: 3rem;
            border: 1px solid ;
}
/*---------------*/
 .btn{
   
  text-align: center;
    text-decoration: none;
    padding: 1.5rem 3rem;
    
    margin: 1rem;

}
.primary-btn{

    font-size: large;
    background-color:var(--primary-color);
    border-radius: 1rem;
    border: 1px solid var(--dark-grey);
    color: white;

}
.secondary-btn{
    
    color:var(--dark-grey) ;
    border-radius: 1rem;
    border: 2px solid var(--primary-color);
}
.outputBox{
    align-content: center;
    max-width: 80%;
    margin: auto;
}
.containerBtn {
    height: 200px;
    max-width: 80%;
    margin: auto;
    position: relative;
    border: 1px ;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }